<div class="fixed inset-0 z-50 overflow-auto bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white w-96 rounded-lg shadow-lg p-6">
      <h2 class="text-xl font-bold mb-4">Xác nhận xóa</h2>
      <p class="mb-4">Bạn có chắc chắn muốn xóa task này không?</p>
      <div class="flex justify-end">
        <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded mr-2 cursor-pointer" (click)="confirmDelete()">Xác nhận</button>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded cursor-pointer" (click)="cancelDelete()">Hủy</button>
      </div>
    </div>
  </div>
  